<h1>~신이 <%=@name%>을(를) 만들 때~</h1>

<div class="row">
      <div class="col-md-4"><%= image_tag("spoon.PNG", height:'230' , width:'290') %>
      <br></br>
      <%= @results[0] %>를(을) <%= @spoon[0] %> 스푼!</div>
      <div class="col-md-4"><%= image_tag("spoon.PNG", height:'230' , width:'290') %>
      <br></br>
      <%= @results[0] %>를(을) <%= @spoon[0] %> 스푼!</div>
      <div class="col-md-4"><%= image_tag("spoon.PNG", height:'230' , width:'290') %>
      <br></br>
      <%= @results[0] %>를(을) <%= @spoon[0] %> 스푼!</div>

</div>
 


